In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
x_train = pd.read_csv("/kaggle/input/titanic/train.csv")
x_train.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [3]:


x_train=x_train[['Survived','Pclass','Sex', 'Age', 'SibSp', 'Parch','Fare','Cabin']]
'''for i in range (m):
    tag=0
    for key, value in x_train[i].items():
        if np.isnan(value):
            tag = 1
            break
    if np.isnan(y_train[i]):
        tag = 1
    if tag:
        x_train.drop(i,inplace="True")
        y_train.drop(i,inplace='True')'''

'for i in range (m):\n    tag=0\n    for key, value in x_train[i].items():\n        if np.isnan(value):\n            tag = 1\n            break\n    if np.isnan(y_train[i]):\n        tag = 1\n    if tag:\n        x_train.drop(i,inplace="True")\n        y_train.drop(i,inplace=\'True\')'

In [4]:
x_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin
0         0       3    male  22.0      1      0   7.2500   NaN
1         1       1  female  38.0      1      0  71.2833   C85
2         1       3  female  26.0      0      0   7.9250   NaN
3         1       1  female  35.0      1      0  53.1000  C123
4         0       3    male  35.0      0      0   8.0500   NaN

In [5]:



def hnnd(x):
    cols=x.columns.values
    for column in cols:
        text_digit_vals={}
        def convert_to_int(val):
            return text_digit_vals[val]
        if x[column].dtype!=np.int64 and x[column].dtype!=np.float64:
            unique_elements= set(x[column].values.tolist())
            c=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique]=c
                    c+=1
            x[column]=list(map(convert_to_int,x[column]))
    return x
hnnd(x_train)

x_train.isnull().any()
x_train=x_train.dropna()
x_train.shape

(714, 8)

In [6]:
x_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin
0         0       3    0  22.0      1      0   7.2500     44
1         1       1    1  38.0      1      0  71.2833    131
2         1       3    1  26.0      0      0   7.9250     44
3         1       1    1  35.0      1      0  53.1000      5
4         0       3    0  35.0      0      0   8.0500     44

In [7]:
y_train=x_train['Survived']
x_train=x_train[['Pclass','Sex', 'Age', 'SibSp', 'Parch','Fare','Cabin']]
x1=x_train.to_numpy()
y1=y_train.to_numpy()

In [8]:

print(x_train.shape)
print(y_train.shape)
#x_train.head()
#y_train.head()

(714, 7)
(714,)

In [9]:
def sig(z):
    g=1/(1+np.exp(-z))
    return g

In [10]:
def compute_cost(x,y,w,b):
    m,n=x.shape
    tc=0
    for i in range(0,m):
        z_i=np.dot(x[i],w)+b
        fz=sig(z_i)
        epsilon = 1e-8
        tc+=-y[i]*np.log(fz+epsilon)-(1-y[i])*np.log(1-fz+epsilon)
    tc/=m
    return tc

In [11]:
def compute_gradient(x,y,w,b):
    m,n=x.shape
    dj_dw=np.zeros(w.shape)
    dj_db=0
    for i in range(m):
        f=sig(np.dot(x[i],w)+b)
        er=f-y[i]
        for j in range(n):
            dj_dw[j]=dj_dw[j]+er*x[i,j]
        dj_db=dj_db+er
    return (dj_db/m),(dj_dw/m)

In [12]:
m,n=x1.shape
w0=np.zeros(n)
b0=0
for i in range(m):
    
    f=sig(np.dot(x1[i],w0)+b0)
dj_db,dj_dw=compute_gradient(x1,y1,w0,b0)

In [13]:
import math
def gradient_descent(x,y,w,b,cf,gf,alpha,num_iters):
    m=len(x)
    j_h=[]
    w_h=[]
    for i in range(num_iters):
        dj_db,dj_dw=gf(x,y,w,b)
        w=w-alpha*dj_dw
        b=b-alpha*dj_db
        '''if(i<3000):
            alpha=0.001
        else:
            alpha=0.0005'''
        if i<100000:
            cost=cf(x,y,w,b)
            j_h.append(cost)
        if (i% math.ceil(num_iters/10) == 0) or (i == (num_iters-1)):
            w_h.append(w)
            print(f"Iteration {i:4}: Cost {float(j_h[-1]):8.2f}   ")
    return w, b, j_h, w_h

In [14]:
w0=0.001 * (np.random.rand(7) - 0.5)
b0=-9
#print(x1,y1)
iters=10000
alpha=0.000005
print(compute_cost(x1,y1,w0,b0))
w,b,j_h,w_h=gradient_descent(x1,y1,w0,b0,compute_cost,compute_gradient,alpha,iters)

3.651115853244227
Iteration    0: Cost     3.65
Iteration 1000: Cost     1.35
Iteration 2000: Cost     1.23
Iteration 3000: Cost     1.21
Iteration 4000: Cost     1.20
Iteration 5000: Cost     1.20
Iteration 6000: Cost     1.19
Iteration 7000: Cost     1.19
Iteration 8000: Cost     1.19
Iteration 9000: Cost     1.19
Iteration 9999: Cost     1.19

In [15]:
alpha=0.00005
w,b,j_h,w_h=gradient_descent(x1,y1,w,b,compute_cost,compute_gradient,alpha,iters)

Iteration    0: Cost     1.19
Iteration 1000: Cost     1.18
Iteration 2000: Cost     1.18
Iteration 3000: Cost     1.17
Iteration 4000: Cost     1.17
Iteration 5000: Cost     1.16
Iteration 6000: Cost     1.16
Iteration 7000: Cost     1.15
Iteration 8000: Cost     1.15
Iteration 9000: Cost     1.14
Iteration 9999: Cost     1.14

In [16]:
def predict(x,w,b):
    m,n=x.shape
    p=np.zeros(m)
    for i in range (m):
        z_wb=0
        for j in range(n):
            z_wb_ij=x[i,j]*w[j]
            z_wb+=z_wb_ij
        z_wb+=b
        
        f=sig(z_wb)
        
        p[i]=(f>=0.5)
        
    return p

In [17]:
p=predict(x1,w,b)

In [18]:

print('Train Accuracy: %f'%(np.mean(p == y1) * 100))

Train Accuracy: 64.845938

In [19]:
x_test = pd.read_csv("/kaggle/input/titanic/test.csv")
x_test.isnull().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked       False
dtype: bool

In [20]:
hnnd(x_test)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,341,0,34.5,0,0,256,7.8292,26,1
1,893,3,70,1,47.0,1,0,290,7.0000,26,2
2,894,2,261,0,62.0,0,0,212,9.6875,26,1
3,895,3,239,0,27.0,0,0,338,8.6625,26,2
4,896,3,167,1,22.0,1,1,170,12.2875,26,2
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,180,0,NaN,0,0,181,8.0500,26,2
414,1306,1,56,1,39.0,0,0,149,108.9000,14,0
415,1307,3,161,0,38.5,0,0,240,7.2500,26,2
416,1308,3,29,0,NaN,0,0,345,8.0500,26,2
417,1309,3,278,0,NaN,1,1,69,22.3583,26,0

In [21]:
x_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,341,0,34.5,0,0,256,7.8292,26,1
1,893,3,70,1,47.0,1,0,290,7.0000,26,2
2,894,2,261,0,62.0,0,0,212,9.6875,26,1
3,895,3,239,0,27.0,0,0,338,8.6625,26,2
4,896,3,167,1,22.0,1,1,170,12.2875,26,2

In [22]:

x_test1=x_test[['Pclass','Sex', 'Age', 'SibSp', 'Parch','Fare','Cabin']]
x2=x_test1.to_numpy()

In [23]:
k=predict(x2,w,b)

In [24]:
x_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,341,0,34.5,0,0,256,7.8292,26,1
1,893,3,70,1,47.0,1,0,290,7.0000,26,2
2,894,2,261,0,62.0,0,0,212,9.6875,26,1
3,895,3,239,0,27.0,0,0,338,8.6625,26,2
4,896,3,167,1,22.0,1,1,170,12.2875,26,2

In [25]:
output = pd.DataFrame({'PassengerId': x_test.PassengerId, 'Survived': k})
output.to_csv('submission.csv', index=False)

In [26]:
output

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       0.0
..           ...       ...
413         1305       0.0
414         1306       0.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]